// Postcss plugin wasn't working :(
// @custom-media --breakpoints-sm (max-width: 640px);
// @custom-media --breakpoints-md (max-width: 760px);
// @custom-media --breakpoints-lg (max-width: 1024px);
// @custom-media --breakpoints-xl (max-width: 1280px);

$breakpoints-sm: 640px;
$breakpoints-md: 768px;
$breakpoints-lg: 1024px;
$breakpoints-xl: 1280px; 


:root {
  /*  Temp fonts */
  --fonts-title: "Hermit", sans-serif;
  --fonts-main: "Hermit", sans-serif;

  /* Colors for layout */

  --colors-primary1: #FEFBDA;
  --colors-primary2: #DDD3E9;
  --colors-background1: #2E213E;
  --colors-accent1: #7851A9;
  --colors-accent2: #F9ED6C;
  --colors-accent3: #49AA83;
  --colors-accent4: #F9966C;
  --colors-background2: #53317D;

  /* Breakpoints for responsive design */
}
